body{
/*ffa */
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

font-size: 14px;

}

p.error{
background-color: red;
font-size: 14;
color: white;
padding: 5px;
}

p.order_confirmed{
background-color: green;
font-size: 14;
color: white;
padding: 5px;
}

.login_account {
	align-content: center;
	width: 300px;
	margin: 10px auto;

}

.registration {	
width: 500px;
margin: 100px auto;

}

.container4 {
	width: 300px;
	margin: 10px;
}


input{
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

button {

	width: 100%;
	padding: 5px;
	/*bxz */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}